In [33]:
#TOPIC: String Based Assignment Problem

# 1. Write a program to reverse a string.

In [34]:
Test = input('Enter Test')
print(Test[::-1])

Enter Test india

aidni

In [35]:
#2. Check if a string is a palindrome.

In [1]:
Enter_text = input()
T1 = Enter_text
T2 = Enter_text[::-1]
if T1 == T2:
    print('Its Palindrome')
else:
    print('Its not Palindrome')

 mom

Its Palindrome

In [ ]:
#3. Convert a string to uppercase.

In [ ]:
Enter_Text = input("Enter Text to convert in upper case:")
print(Enter_Text.upper())

In [ ]:
#4. Convert a string to lowercase.

In [ ]:
Enter_Text = input("Enter Text to convert in upper case:")
print(Enter_Text.lower())

In [ ]:
#5. Count the number of vowels in a string.

In [ ]:
Texta = input('Please enter str to count vowles: ')
vowels = "AEIOUaeiou"
v_count = 0

for t in Texta:
    if t in vowels:
        v_count +=1
        
print('There are ', v_count ,' vowles in provided text')

In [ ]:
#6. Count the number of consonants in a string.

In [ ]:
str1 = input('Please enter a text')
vow1 = 'aeiouAEIOU'
count1 = 0

for c in str1:
    if c not in vow1:
        count1 +=1
        
print(count1)

In [ ]:
#8. Find the length of a string without using the `len()` function.

In [ ]:
str2 = input('Please enter the Text: ')
D= ''
count3 = 0

for c in str2:
    if c not in D:
        count3 +=1
        
print(count3)

In [ ]:
#9. Check if a string contains a specific word.

In [ ]:
yourstr = input("Please enter your str: ")

word1 = input('Please enter word your want to search: ')

TF = word1 in yourstr

if TF == True: 
    print('Getting search word in input text')
else:
    print('Not getting search word in input text')

In [ ]:
#10. Replace a word in a string with another word.

In [ ]:
str5 = input('please enter a str: ')
searchword = input("search word: ")
replaceword = input("replace word: ")

str5.replace(searchword,replaceword)

In [ ]:
#11. Count the occurrences of a word in a string.

In [ ]:
word8 = "as well as"

word8.find('as')+1

In [ ]:
#13. Find the last occurrence of a word in a string.

word9 = 'I love mango as well as orange'
word9.rfind('as')+1

In [ ]:
#14. Split a string into a list of words.

In [ ]:
state = 'Maharshtra'
print([*state])

In [ ]:
#15. Join a list of words into a string.

In [ ]:
lst1 = ['A',3,5,'u','i']

lst2 = ['b',72,6,'pune']

lst3 = lst1+lst2

lst3

In [ ]:
#16. Convert a string where words are separated by spaces to one where words
#are separated by underscores.

In [ ]:
Strz = 'Mumbai is the financial capital of india'
newstr = Strz.replace(' ','_')

print(newstr)

In [ ]:
#17. Check if a string starts with a specific word or phrase.

In [ ]:
Testword = "I love my india"
print(Testword.startswith('I'))

In [ ]:
#18. Check if a string ends with a specific word or phrase.

In [ ]:
Testword = "I love my india"
print(Testword.endswith('india'))

In [ ]:
#19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [ ]:
title = 'I love india'
title.title()

In [ ]:
#20. Find the longest word in a string.

In [ ]:
string11 = input('please enter text')
wlst  = string11.split()
longWord = max(wlst, key = len)

print('The long word in provide text is : ',longWord)

In [ ]:
#21. Find the shortest word in a string.

In [ ]:
str12 = input('please provide the text')
splt12 = str12.split()
shortword = min(splt12, key = len)
print('The short word in provide text is : ',shortword)

In [ ]:
#22. Reverse the order of words in a string.

In [ ]:
str22 = 'The bombay is the financial capital of india'
word22 = str22.split()
word23 = list(reversed(word22))
print(" ".join(word23))

In [ ]:
#23. Check if a string is alphanumeric.

In [ ]:
str23 = '4q1f4rpune'
word23 = str23.isalnum()

if word23 == True:
    print('String is alphanumeric ')
else:
    print('String is not alphanumeric')

In [ ]:
#24. Extract all digits from a string.

In [ ]:
str24 = 'my pin code is 411001'
d =  ""
splt = str24.split()
for i in splt:
    if i.isnumeric():
        d = " ".join([d,i])
print(d)

In [ ]:
#25. Extract all alphabets from a string.

In [ ]:
str25 = 'my pin code is 411001 and country code is 91'
d =  " "
splt = str25.split()
for i in splt:
    if i.isalpha():
        d = " ".join([d,i])
print(d)

In [ ]:
#26. Count the number of uppercase letters in a string.

In [ ]:
str26 = 'PWSkill'
uppercase = 0

for i in str26:
    if (i.isupper()):
        uppercase+=1
print(uppercase)

In [ ]:
#27. Count the number of lowercase letters in a string.

In [ ]:
str27 = 'PWSkills'
lowercase = 0
for i in str27:
    if (i.islower()):
        lowercase+=1
print(lowercase)

In [ ]:
#28. Swap the case of each character in a string.

In [ ]:
str28 = 'PWSkills'
str1 = print(str28.swapcase())
Txt = str1

In [ ]:
#29. Remove a specific word from a string.

In [ ]:
str29 = 'I love india'
rword = input('Enter word which you want to remove: ')
print(str29.replace(rword,''))

In [ ]:
#30. Check if a string is a valid email address.

In [ ]:
em = input('Please enter a your email')
em1 = "@" in em and '.' in em
em2 = em1
if em2 == True:
    print('This is valid email id')
else:
    print('This is not valid email id')

In [ ]:
#31. Extract the username from an email address string.

In [ ]:

str31 = input('please enter a email id')
res = str31.split('@')[0]
print("The extracted domain name : " + str(res))

In [ ]:
#32. Extract the domain name from an email address string.

In [ ]:
str32 = input('please enter a email id')
print(str32.split('@')[-1])

In [ ]:
#33. Replace multiple spaces in a string with a single space.

In [ ]:
Str33 = 'my name  is  Sam'
Y = Str33.replace("  "," ")
print(Y)

In [ ]:
#34. Check if a string is a valid URL.

In [ ]:
str34 = 'https://blue-musician-cbhxi.pwskills.app/lab/tree/work/20th_August.ipynb'
X = "https:" in str34 or 'http:' in str34
Y = X
if Y == True:
    print('string has valid url')
else:
    print('string has not valid url')

In [ ]:
#35. Extract the protocol (http or https) from a URL string.

In [ ]:
Str35 = 'https://blue-musician-cbhxi.pwskills.app/lab/tree/work/20th_August.ipynb'
splt35 = Str35.split(':')[0]
print(splt35)

In [ ]:
#36. Find the frequency of each character in a string.

In [ ]:
str36 = input('Please enter a text: ')
set1 = {}

for i in str36:
    set1[i] = set1.get(i, 0) + 1
print(str(set1))

In [ ]:
#37. Remove all punctuation from a string.

In [ ]:
str37 = 'Wow! thank you. how are you ?'
pun = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
newstr = " "
for p in str37:
    if p not in pun:
        newstr +=p
        
print(newstr)

In [ ]:
#38. Check if a string contains only digits.

In [ ]:
str38 = '12345a'
if str38.isdigit():
    print('string contain digit')
else:
    print('string done not contain digit')

In [ ]:
#39. Check if a string contains only alphabets.

In [ ]:
str39 = 'abcdefg'
if str39.isalpha():
    print('string contains only alphabets')
else:
    print('string does not contains only alphabets')

In [ ]:
#40. Convert a string to a list of characters.

In [ ]:
str40 = 'india'
list(str40)

In [ ]:
#41. Check if two strings are anagrams.

In [ ]:
str_one = 'act'
str_two = 'cat'
new_one = list(str_one).sort()

new_two = list(str_two).sort()

if new_one == new_two:
    print("The strings are anagrams")
else:
    print("The strings are not anagrams")

In [ ]:
#42. Encode a string using a Caesar cipher.

In [ ]:
def caesar_cipher_encode(text, shift):
    result = ''.join([chr((ord(char) - 65 + shift) % 26 + 65) if char.isupper() else 
                      chr((ord(char) - 97 + shift) % 26 + 97) if char.islower() else char 
                      for char in text])
    return result

original_text = "pwskills"
shift_value = 1

encoded_text = caesar_cipher_encode(original_text, shift_value)
print(f"Encoded text: {encoded_text}")

In [ ]:
#43. Decode a Caesar cipher encoded string.

In [ ]:
def caesar_cipher_decode(text, shift):
    result = ''.join([chr((ord(char) - 65 + shift) % 26 + 65) if char.isupper() else 
                      chr((ord(char) - 97 + shift) % 26 + 97) if char.islower() else char 
                      for char in text])
    return result

original_text = "qxtljmmt"
shift_value = -1

encoded_text = caesar_cipher_encode(original_text, shift_value)
print(f"Encoded text: {encoded_text}")

In [ ]:
#44. Find the most frequent word in a string.

In [ ]:
#45. Find all unique words in a string.

In [ ]:
str = "a and a a and b b and c"
s = set(str.split(" "))
for i in s:
		print(i)

In [ ]:
#46. Count the number of syllables in a string.

In [ ]:
new_word = 'python-dev'
count_syllables = new_word.split('-')
X = len(count_syllables)
print(X)

In [ ]:
#47. Check if a string contains any special characters.

In [ ]:
str47 = 'sandip@pws#skills%'
spclchar = '[@_!#$%^&*()<>?/\|}{~:]'
c = 0

str47.split()
for i in range(len(str47)):
    if str47[i] in spclchar:
        c +=1
if c:
    print('string contains special characters')
else:
    print('string does not contains any special characters')

In [ ]:
#48. Remove the nth word from a string.

In [ ]:
str48 = 'I like to code in python'
splt = str48.split()
nth_word = int(input('Give the index number of word which you want to remove: '))-1
Removed_word = print('remove word: ',splt[nth_word])
new_word = str48.replace(splt[nth_word],"")
print(new_word)

In [ ]:
#49. Insert a word at the nth position in a string.

In [ ]:
str49 = 'I like to code in python'
splt = str49.split()
nth_word = int(input('Give the index number of word which you want to remove: '))-1
new_word = input('Please insert new word: ')
Res = list(splt)
X = Res.insert(nth_word,new_word)
Res = ' '.join(Res)
print(Res)

In [ ]:
#50. Convert a CSV string to a list of lists.

In [ ]:
csv_str = 'python,sql,excel'
new_str = csv_str.split(',')
print(new_str)

In [ ]:
#List Based Practice Problem :

In [ ]:
#1. Create a list with integers from 1 to 10.

In [ ]:
list_1 = range(1,11)
print(list(list_1))

In [ ]:
#2. Find the length of a list without using the `len()` function.

In [ ]:
#list
List_2 = [1,2,3,4,5]

#blank list
D= ['']

#count length
count3 = 0

#for loop
for c in List_2:
    if c not in D:
        count3 +=1
        
print('Length of list is: ',count3)

In [ ]:
#3. Append an element to the end of a list.

In [ ]:
l3 = [1,2,3,4]
ele = int(input('enter new element: '))
l3.append(ele)
l3

In [ ]:
#4. Insert an element at a specific index in a list.

In [ ]:
l4 = [1,2,3,4]
index = int(input('Please provide a index number: '))-1
inset = int(input('Please insert element: ')) 
new_list = l4.insert(index,inset)
print(l4)

In [ ]:
#5. Remove an element from a list by its value.

In [ ]:
l5 = ['a','b','d','f','r']
RV = input('Tell me which value wants to remove: ')
l5.remove(RV)
print(l5)

In [ ]:
#6. Remove an element from a list by its index.

In [ ]:
l6 = [1,3,4,6,7,9]
index = int(input('Please enter index num: ')) 
del l6[index]
print(l6)

In [ ]:
#7. Check if an element exists in a list.

In [ ]:
l7 = ['a','b',1,2,4,3.5]
'a' in l7

In [ ]:
#8. Find the index of the first occurrence of an element in a list.

In [ ]:
mylist = [52, 5, 8, 52, 21, 87, 52]
mylist.index(52)+1

In [ ]:
#9. Count the occurrences of an element in a list.

In [ ]:
l9 = [52, 5, 8, 52, 21, 87, 52]
l9.count(52)

In [ ]:
#10. Reverse the order of elements in a list.

In [ ]:
l10 = ['a','b','c','d','e','f']
l10[:: -1]

In [ ]:
#11. Sort a list in ascending order.

In [ ]:
l11 = ['java','python','Dax','Excel','power bi']
l11.sort()
print(l11)

In [ ]:
#12. Sort a list in descending order.

In [ ]:
l12 = ['java','python','Dax','Excel','power bi']
l12.sort(reverse = True)
l12

In [ ]:
#13. Create a list of even numbers from 1 to 20.

In [ ]:
l13 = []

for i in range(20):
    if i%2 == 0:
        l13.append(i)
print(l13)

In [ ]:
#14. Create a list of odd numbers from 1 to 20.

In [ ]:
l14 = []

for i in range(20):
    if i%2 != 0:
        l14.append(i)
print(l14)

In [ ]:
#15. Find the sum of all elements in a list.

In [ ]:
l15 = [1,2,3,4,5,6]
ac = sum(l15)
print(ac)

In [ ]:
#16. Find the maximum value in a list.

In [ ]:
l16 = [1,2,3,4,5,6]
ac = max(l16)
print(ac)

In [ ]:
#17. Find the minimum value in a list.

In [ ]:
l17 = [58,79,85,90,35,78,46]
m = min(l17)
print(m)

In [ ]:
#18. Create a list of squares of numbers from 1 to 10.

In [ ]:
l18 = [1,2,3,4,5,6,7,8,9,10]
S_list = []
for i in l18:
    S_list.append(i**2)
print(S_list)

In [ ]:
#19. Create a list of random numbers.

In [ ]:
import random
L_19 = []
for i in range(0,5):
    n = random.randint(1,20)
    L_19.append(n)
print(L_19)

In [ ]:
#20. Remove duplicates from a list.

In [ ]:
# using set
l20 = ['a',2,4,'a',2]
n_i20 = set(l20)
print(list(n_i20))

#using if

lx = [1,3,4,5,2,3,5,2,4]
n_lx = []

for i in lx:
    if not i in n_lx:
        n_lx.append(i)
print(n_lx)

In [ ]:
#21. Find the common elements between two lists.

In [ ]:
l21_1 = [1,2,3,4,5]
l_21_2 = [5,3,1]
C_list = []

for i in l21_1:
    if i in l_21_2:
        C_list.append(i)
print(C_list)

In [ ]:
#22. Find the difference between two lists.

In [ ]:
li1 = [10, 15,25, 30, 35, 40]
li2 = [25, 40,35,2,8]

set_dif = set(li1).symmetric_difference(set(li2))
temp3 = list(set_dif)
print(temp3)

In [ ]:
#23. Merge two lists.

In [ ]:
LT = ['a',2,5,'a']
LM = ['d',3,6,8]

print( LT+LM)

In [ ]:
#24. Multiply all elements in a list by 2.

In [ ]:
L24 = [2,4,6,9]
N_24 = []
for i in L24:
    N_24.append(i*2)
print(N_24)

In [ ]:
#25. Filter out all even numbers from a list.

In [ ]:
L25 = [1,2,3,4,5,6,7,8,9,10,11]
N_25 = []

for i in L25:
    if i%2 == 0:
        N_25.append(i)
print(N_25)

In [ ]:
#26. Convert a list of strings to a list of integers.

In [ ]:
l_26 = ['1','3','5','2']
print(list(map(int, l_26)))

In [ ]:
#27. Convert a list of integers to a list of strings.

In [ ]:
l_27 = [1,2,3,4,5]
print(list(map(str, l_27)))

In [ ]:
#28. Flatten a nested list.

In [ ]:
lis = [[11, 22, 33, 44], [55, 66, 77], [88, 99, 10]]

flatList = [element for innerList in lis for element in innerList]

print('Flat List', flatList)

In [ ]:
#29. Create a list of the first 10 Fibonacci numbers.

In [ ]:
def fibonacci_nums(n):
  if n <= 0:
    return [0]
  sequence = [0, 1]
  while len(sequence) <= n:
    next_value = sequence[len(sequence) - 1] + sequence[len(sequence) - 2]
    sequence.append(next_value)
  return sequence

In [ ]:
fibonacci_nums(10)

In [ ]:
#30. Check if a list is sorted.

In [ ]:
def is_sorted(lst):
    return all(
        lst[index] <= lst[index+1]
        for index in range(len(lst) - 1)
    )


list_1 = [1, 2, 3, 4, 5]
print(is_sorted_ascending(list_1))  

list_2 = [5, 4, 3, 2, 1]
print(is_sorted_ascending(list_2)) 

if is_sorted_ascending(list_1):
    print('The list is sorted in ascending order')
else:
    print('The list is not sorted in ascending order')

In [ ]:
#31. Rotate a list to the left by `n` positions.

In [ ]:
N_num = int(input('Give nth positions: '))
test_list = [1, 4, 6, 7, 2]
 
test_list = test_list[N_num:] + test_list[:N_num]
 
print ("List after left rotate : " + str(test_list))

In [ ]:
#32. Rotate a list to the right by `n` positions.

In [ ]:
N_num = int(input('Give nth positions: '))
test_list1 = [1, 4, 6, 7, 2]
 
test_list = test_list1[-N_num:] + test_list1[:-N_num]
 
print ("List after right rotate : " + str(test_list))

In [ ]:
#33. Create a list of prime numbers up to 50.

In [ ]:
def prime_numbers(n):
    primes = []
    for i in range(2, n + 1):
        for j in range(2, int(i ** 0.5) + 1):
            if i%j == 0:
                break
        else:
            primes.append(i)
    return primes
prime_list = prime_numbers(50)
print(prime_list)

In [ ]:
#34. Split a list into chunks of size `n`.

In [ ]:
def split(list_a, chunk_size):

  for i in range(0, len(list_a), chunk_size):
    yield list_a[i:i + chunk_size]

chunk_size = int(input('Please enter chunk size: '))
my_list = [1,2,3,4,5,6,7,8,9]
print(list(split(my_list, chunk_size)))

In [ ]:
#35. Find the second largest number in a list.

In [ ]:
l35 = [3,4,2,1,5,9,7]
l35.sort()
print('The second largest number is : ',l35[-2])

In [ ]:
#36. Replace every element in a list with its square.

In [ ]:
n = [2,3,4,5,25,8]

def replace_el(a):
    Newlist = []
    for i in a:
        Newlist.append(i*i)
    return Newlist

In [ ]:
replace_el(n)

In [ ]:
#37. Convert a list to a dictionary where list elements become keys and their
#indices become values.

In [ ]:
student_names = ['Ramesh', 'Mahesh', 'Kamlesh', 'Suresh','Sagar']
 
Snames_dict = {}
for i, name in enumerate(student_names):
  Snames_dict[i] = name
 
print(Snames_dict)

In [ ]:
#38. Shuffle the elements of a list randomly.

In [ ]:
import random
l38 = [1,2,4,5]
random.shuffle(l38)
print("Shuffle list: " , l38)

In [ ]:
#39. Create a list of the first 10 factorial numbers.

In [ ]:
import math
factorials = [math.factorial(x) for x in range(0,10)]

print(factorials)

In [ ]:
#40. Check if two lists have at least one element in common.

In [ ]:
M_list = [1,2,3]
N_list = [4,5]

def common(l1,l2):
    for a in l1:
        for b in l2:
            if a == b:
                return 'There is common element in both list'
            else:
                return 'There is no commmon elements in both list'

In [ ]:
common(M_list,N_list)

In [ ]:
#41. Remove all elements from a list.

In [ ]:
List_41 = [1,2,4]
List_41.clear()
print(List_41)

In [ ]:
#42. Replace negative numbers in a list with 0.

In [ ]:
List_42 = [-2,2, 3, 4, -1, -4, 5, -6]


for i in range(len(List_42)):
    if List_42[i] < 0:
        List_42[i] = 0
print(List_42)

In [ ]:
#43. Convert a string into a list of words

In [ ]:
NP = 'I love python'
NP.split()

In [ ]:
#44. Convert a list of words into a string.

In [ ]:
list_44 = ['I','Love','Python']
NW = " ".join(list_44)
print(NW)

In [ ]:
#45. Create a list of the first `n` powers of 2.

In [ ]:
n = 5
List_n = []
for i in range(n):
    List_n.append(2**i)
print(List_n)

In [ ]:
n = 5
news = [ 2**i for i in range(n) ]
print(news)

In [ ]:
#46. Find the longest string in a list of strings.

In [ ]:
str_46 = ['India','USA','Argentina']
longstr = 0
for i in str_46:
    if len(i)> 0:
        longstr = i
print(i)

In [ ]:
#47. Find the shortest string in a list of strings.

In [ ]:
str_47 = ['India','USA','Argentina','UK']
short_str = str_47[0]

for i in str_47:
    if len(i) < len(short_str):
        short_str = i 
print(short_str)

In [ ]:
#48. Create a list of the first `n` triangular numbers.

In [ ]:
def triangular_numbers(k):
    return [i * (i+1) //2  for i in range(1,k+1)]
k = 7
t_list = triangular_numbers(k)
print(t_list)

In [ ]:
#49. Check if a list contains another list as a subsequence.

In [ ]:
def removeElements(A, B):
    n = len(A)
    return any(A == B[i:i + n] for i in range(len(B)-n + 1))
 
A = [1,2,3]
B = [1,2,3,1,1,2,2,3]
 
print(removeElements(A, B))

In [ ]:
#50. Swap two elements in a list by their indices.

In [ ]:
def swap_po(list, p1,p2):
    list[p1], list[p2] = list[p2], list[p1]
    return list

X = [1,2,3,4,5,6,7]

p1,p2 = 2,3

print(swap_po(X,p1-1,p2-1))

In [ ]:
#Tuple Based Practice Problem :

In [ ]:
#1. Create a tuple with integers from 1 to 5.

In [ ]:
t = (1,2,3,4,5)

In [ ]:
#2. Access the third element of a tuple.

In [ ]:
print('The 3rd element of tuple is : ',t[2])

In [ ]:
#3. Find the length of a tuple without using the `len()` function.

In [ ]:
t3 = ('india','Aus','G-20','USA','Pune')

d = ''
count_len = 0
for i in t3:
    if i not in d:
        count_len +=1
print(count_len)

In [ ]:
#4. Count the occurrences of an element in a tuple.

In [ ]:
t4 = ('i','n','d','i','a','n')
from collections import Counter
TC = Counter(t4)
TD = (TC.values())

#printed in tuple
print(tuple(TD))

print(TC)

In [ ]:
#5. Find the index of the first occurrence of an element in a tuple.

In [ ]:
t5 = ('python','Pearl','Java','python')
t5.index('python') + 1

In [ ]:
E_text = input('Please enter a string :' )

if E_text in t5:
    idx = t5.index(E_text)
    print(idx + 1)

In [ ]:
#6. Check if an element exists in a tuple.

In [ ]:
'python' in t5

In [ ]:
#7. Convert a tuple to a list.

In [ ]:
DF = list(t5)
print(DF)

In [ ]:
#8. Convert a list to a tuple.

In [ ]:
tuple(DF)

In [ ]:
#9. Unpack the elements of a tuple into variables.

In [ ]:
t9 = ('Sandip','25','Germany')

(Name,Age,Country) = t9
print(Name)
print(Age)
print(Country)

In [ ]:
#10. Create a tuple of even numbers from 1 to 10.

In [ ]:
def even_num(n,x):
    for i in range(n,x):
        if i % 2 == 0:
            print(i)

In [ ]:
even_num(1,10)

In [ ]:
X = [i for i in range(1,10) if i % 2 == 0]

In [ ]:
tuple(X)

In [ ]:
#11. Create a tuple of odd numbers from 1 to 10.

In [ ]:
y=[i for i in range(1,10) if i%2 != 0]
tuple(y)

In [ ]:
#12. Concatenate two tuples.

In [ ]:
tu1 = (1,2,3,4)
tu2 = (5,6,7)
print(tu1+tu2)

In [ ]:
#13. Repeat a tuple three times.

In [ ]:
t13 = ('a','b','c')
t13*3

In [ ]:
#14. Check if a tuple is empty.

In [ ]:
t14 = ()
if len(t14) == 0:
    print('Tuple is empty')
else:
    print('Tuple is not empty')

In [ ]:
#15. Create a nested tuple.

In [ ]:
t15 = (1,2,3,(4,5,6),('A','B','C'))
print(t15)

In [ ]:
#16. Access the first element of a nested tuple.

In [ ]:
t15[0]

In [ ]:
#17. Create a tuple with a single element.

In [ ]:
t17 = (1,)
type(t17)

In [ ]:
#18. Compare two tuples.

In [ ]:
tx = (1,2,3)
ty = (3,2,1)

if tx == ty:
    print('Same tuple')
else:
    print('Not same')

In [ ]:
#19. Delete a tuple.

In [ ]:
t19 = (1,2,3)
del t19

In [ ]:
#20. Slice a tuple.

In [ ]:
t20 = (1,2,3)
t20[0]

In [ ]:
#21. Find the maximum value in a tuple.

In [ ]:
t21 = (1,2,3)
TY = max(t21)
print('Max number in t21 is : ',TY)

In [ ]:
#22. Find the minimum value in a tuple.

In [ ]:
t22 = (1,2,3)
p1 = min(t22)
print('Min number in t22 is : ',p1)

In [ ]:
#23. Convert a string to a tuple of characters.

In [ ]:
t23 = 'abc'
tuple(t23)

In [ ]:
#24. Convert a tuple of characters to a string.

In [ ]:
t24 = (1,2,3)
str(t24)

In [ ]:
#25. Create a tuple from multiple data types.

In [ ]:
a = ('a',2,3,4j)
type(a)

In [ ]:
#26. Check if two tuples are identical.

In [ ]:
t1 = ('a','b','c')
t2 = ('a','b','c')

if t1 == t2:
    print("tuples are identical")
else:
    print("tuples are not identical")

In [ ]:
#27. Sort the elements of a tuple.

In [ ]:
t27 = (2,3,5,7,1,9)
l_27 = sorted(t27)
print(tuple(l_27))

In [ ]:
#28. Convert a tuple of integers to a tuple of strings.

In [ ]:
t28 = (1,2,3,4,5)

SST = tuple(i for i in t28)
print(SST)

In [ ]:
#29. Convert a tuple of strings to a tuple of integers.

In [ ]:
t29 = ('1','2','3')

XXT = tuple(int(i) for i in t29)
print(XXT)

In [ ]:
#30. Merge two tuples.

In [ ]:
tl1 = (1,2,3)
tl2 = (4,5,6)

tm = tl1+tl2
print(tm)

In [ ]:
#31. Flatten a nested tuple.

In [ ]:
def flatten_tuple(nested_tuple):
    result = []
    for i in nested_tuple:
        if isinstance(i, tuple):
            result.extend(flatten_tuple(i))
        else:
            result.append(i)
    return tuple(result)

nested_tuple = (1, (2, 3), (4, (5, 6)), 7)
flattened_tuple = flatten_tuple(nested_tuple)

print("Nested tuple:", nested_tuple)
print("Flattened tuple:", flattened_tuple)

In [ ]:
#32. Create a tuple of the first 5 prime numbers.

In [ ]:
prn = (2,3,5,7,11)
print(prn)

In [ ]:
#33. Check if a tuple is a palindrome.

In [ ]:
t33 = ('mom')
tf = t33[::-1]
if t33 == tf:
    print("yes, its palindrome")
else:
    print("No its not palindrome")

In [ ]:
#34. Create a tuple of squares of numbers from 1 to 5.

In [ ]:
def sq(n,b):
    a = 1
    t34 = []
    while a<=5:
        t34.append(a*a)
        a = a+1
    print(tuple(t34))

In [ ]:
sq(1,5)

In [ ]:
#35. Filter out all even numbers from a tuple.

In [ ]:
t35 = (21,22,23,24,25,26,27,30,33,50,67,59)
print35 = [i for i in t35 if i % 2 == 0]
print(tuple(print35))

In [ ]:
#36. Multiply all elements in a tuple by 2.

In [ ]:
t36 = (10,2,3,4,5)
MT = []
for i in t36:
    MT.append(i*2)
print(tuple(MT))

In [ ]:
#37. Create a tuple of random numbers.

In [ ]:
import random

random_sequence = [random.randint(1, 100) for _ in range(5)]

print(tuple(random_sequence))

In [ ]:
#38. Check if a tuple is sorted.

In [ ]:
t38_1 = (1,2,3)

# sorted the tuple 
sort_tuple = sorted(t38_1)

#converted the list in tuple
t38_2 = tuple(sort_tuple)

if t38_1 == t38_2:
    print('Tuple is sorted')
else:
    print('Tuple is not sorted')

In [ ]:
#39. Rotate a tuple to the left by `n` positions.

In [ ]:
def rotate_tuple(tup,n):
    n = n % len(tup)
    return tup[n:] + tup[:n]
t_39 = (22,55,24)
n = int(input('Left by n number'))
new_rotate_tuple = rotate_tuple(t_39,n)
print(new_rotate_tuple)

In [ ]:
#40. Rotate a tuple to the right by `n` positions.

In [ ]:
def rotate_tuple(tup,n):
    n = n % len(tup)
    return tup[-n:] + tup[:-n]
t_39 = (22,55,24)
n = int(input('Right by n number'))
new_rotate_tuple = rotate_tuple(t_39,n)
print(new_rotate_tuple)

In [ ]:
#41. Create a tuple of the first 5 Fibonacci numbers.

In [11]:
def generate_fibonacci(n):
    fibonacci = [0, 1] 

    while len(fibonacci) < n:
        next_number = fibonacci[-1] + fibonacci[-2]
        fibonacci.append(next_number)

    return tuple(fibonacci[:n])  
V1 = generate_fibonacci(5)
print(V1)

(0, 1, 1, 2, 3)

In [13]:
#42. Create a tuple from user input.

In [19]:
Enter_value = input('Please provide input:')
element = Enter_value.split(',')
New_t = tuple(element)
print(New_t)

Please provide input: a,b,d,f

('a', 'b', 'd', 'f')

In [20]:
#43. Swap two elements in a tuple.

In [25]:
t43 = (1,2,3,4,5)

#tuple converted in list as tuple is not mutable.
t_list = list(t43)

#swap index number
swap_1 = 2
swap_2 = 4

ind1 = t_list.index(swap_1)
ind2 = t_list.index(swap_2)

t_list[ind1],t_list[ind2] = t_list[ind2],t_list[ind1]
print(tuple(t_list))

(1, 4, 3, 2, 5)

In [26]:
#44. Reverse the elements of a tuple.

In [28]:
t44 = (1,2,3)
t44[::-1]

(3, 2, 1)

In [30]:
#45. Create a tuple of the first `n` powers of 2.

In [78]:

def powers_of_2(n):
    power_of_2 = []
    for i in range(n):
        power_of_2.append(2 ** i)
    return tuple(power_of_2)

# Example: Create a tuple of the first 5 powers of 2
n = 5
power_of_2_tuple = powers_of_2(n)

print(power_of_2_tuple)

(1, 2, 4, 8, 16)

In [93]:
#46. Find the longest string in a tuple of strings.

In [3]:
t46 = ('india','France','Indonesia')
long_string = max(t46, key = len)
print("Long string in tuple is :", long_string)

Long string in tuple is : Indonesia

In [4]:
#47. Find the shortest string in a tuple of strings.

In [8]:
t47 = ('Ram','Rohit','Rajan','Radhika')

short_str = min(t47, key = len)

print("Short word is : ",short_str)

Short word is :  Ram

In [9]:
#48. Create a tuple of the first `n` triangular numbers.

In [13]:
def tri_num(n):
    
    tri_num = []
    for i in range(1, n + 1):
        tri_num.append(i * (i + 1) // 2)
    return tuple(tri_num)
n = 5
triangular_tuple = tri_num(n)

print(triangular_tuple)

(1, 3, 6, 10, 15)

In [14]:
#49. Check if a tuple contains another tuple as a subsequence.

In [16]:
def is_subsequence(sub, larger):
    sub_len = len(sub)
    larger_len = len(larger)

    if sub_len == 0:
        return True

    i = 0
    j = 0

    while i < larger_len:
        if sub[j] == larger[i]:
            j += 1
            if j == sub_len:
                return True
        i += 1

    return False

larger_tuple = (1, 2, 3, 4, 5, 6, 7)
sub_tuple = (2, 4, 6)
result = is_subsequence(sub_tuple, larger_tuple)

if result:
    print("sub_tuple is a subsequence of larger_tuple.")
else:
    print("sub_tuple is not a subsequence of larger_tuple.")

sub_tuple is a subsequence of larger_tuple.

In [17]:
#50. Create a tuple of alternating 1s and 0s of length `n`.

In [7]:
n = int(input("Enter a leangth of n"))

#new list to append
new = []

#for loop

for i in range(1,n):
    if i % 2 == 0:
        new.append(0)
    else:
        new.append(1)
print(tuple(new))

Enter a leangth of n 12

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [8]:
#Set Based Practice Problem :

In [9]:
#1. Create a set with integers from 1 to 5.

In [67]:
my_set = []
for i in range(1,6):
    my_set.append(i)
my_set = set(my_set)  
print(my_set)

{1, 2, 3, 4, 5}

In [68]:
#2. Add an element to a set.

In [72]:

set2 = {1}
#adding 2 in set
set2.add(2)
print(set2)

{1, 2}

In [73]:
#3. Remove an element from a set.

In [92]:
set3 = {1,2,4}
#remove 2 from set
set3.remove(2)
print(set3)

{1, 4}

In [93]:
#4. Check if an element exists in a set.

In [99]:
set4 = {1,2,4}
if 1 in set4:
    print('1 number exists in set4')

1 number exists in set4

In [100]:
#5. Find the length of a set without using the `len()` function.

In [3]:
set5 = {1,2,3,4,5}

count = 0

for i in set5:
    count += 1
print(count)

5

In [4]:
#6. Clear all elements from a set.

In [11]:
set6 = {1,2,3,4,5}

set6.clear()
print(set6)

set()

In [10]:
#7. Create a set of even numbers from 1 to 10.

In [40]:
even_num = []
for i in range(1,11):
    if i%2 == 0:
        even_num.append(i)
print(set(even_num))

{2, 4, 6, 8, 10}

In [41]:
#2nd method
even_num = set(range(2,11,2))
print(even_num)

{2, 4, 6, 8, 10}

In [42]:
#8. Create a set of odd numbers from 1 to 10.

In [46]:
odd_num = set(range(1,10,2))
print(odd_num)

{1, 3, 5, 7, 9}

In [47]:
#9. Find the union of two sets.

In [52]:
set1 = {1,2,3,4}

set2 = {6,5,4,9}

union_set = set1.union(set2)

print(union_set)

{1, 2, 3, 4, 5, 6, 9}

In [1]:
#10. Find the intersection of two sets.

In [6]:
a1 = {1,2,3,4}
a2 = {3,4,5,1}

set10 = a1.intersection(a2)

print(set10)

{1, 3, 4}

In [7]:
#11. Find the difference between two sets.

In [13]:
b1 = {1,2,3,4,8,9}
b2 = {2,3,4,5,7}

set11 = b1-b2

print(set11)

{8, 1, 9}

In [14]:
#12. Check if a set is a subset of another set.

In [21]:
c1 = {6,7,8}
c2 = {5,6,7,8}

set12 = c1.issubset(c2)

if set12:
    print("It is sub set of c1")
else:
    print("It is not a sub set of c1")

It is sub set of c1

In [22]:
#13. Check if a set is a superset of another set.

In [26]:
dax = {11,22,33}
lax = {11,44,55}

set13 = dax.issuperset(lax)

if dax:
    print("its suberset")
else:
    print('It is not superset')

its suberset

In [27]:
#14. Create a set from a list.

In [32]:
set14 = ['p','u','n','e']
newset = set(set14)

print(newset)

{'u', 'e', 'p', 'n'}

In [33]:
#15. Convert a set to a list.

In [35]:
set15 = {1,2,3,4}

list1 = list(set15)

print(list1)

[1, 2, 3, 4]

In [36]:
#16. Remove a random element from a set.

In [1]:
set16 = {1,2,3,4}

ran_list = set16.pop()

print('Original List',set16)
print('random',ran_list)

Original List {2, 3, 4}
random 1

In [2]:
#17. Pop an element from a set.

In [10]:
set17 = {1,2,3,4}
newset17 = set17.pop()
print(newset17)

1

In [11]:
#18. Check if two sets have no elements in common.

In [19]:
set_1 = {1,2,3,4}
set_2 = {6,7,8}

if set_1.isdisjoint(set_2):
    print("there is no common elemant")
else:
    print("yes, there is common element")

there is no common elemant

In [20]:
#19. Find the symmetric difference between two sets.

In [24]:
set1 = {1,2,3}
set2 = {3,4,5}

SD = set1.symmetric_difference(set2)

print(SD)

{1, 2, 4, 5}

In [25]:
#20. Update a set with elements from another set.

In [39]:
set20_1 = {1,2,3,4,5}
set20_2 = {6,7,8,9}

set20_1.update(set20_2)

print(set20_1)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [40]:
#21. Create a set of the first 5 prime numbers.

In [42]:
prime_numbers = {2, 3, 5, 7, 11}
print(prime_numbers)

{2, 3, 5, 7, 11}

In [43]:
#22. Check if two sets are identical.

In [48]:
set1 = {9,7,4}
set2 = {4,7,9}

if set1 == set2:
    print('set is identical')
else:
    print('set is not a identical')

set is identical

In [49]:
#23. Create a frozen set.

In [56]:
set23 = {66,77,88}

FS = frozenset(set23)
print(FS)

frozenset({88, 66, 77})

In [57]:
#24. Check if a set is disjoint with another set.

In [64]:
s100 = {1,2,4}
s200 = {3,6,8}

if s100.isdisjoint(s200):
    print("The set is disjoint")
else:
    print("The set is not Disjoint")

The set is disjoint

In [65]:
#25. Create a set of squares of numbers from 1 to 5.

In [96]:
my_set = {i*2 for i in range(1,6)}
my_set

{2, 4, 6, 8, 10}

In [97]:
#26. Filter out all even numbers from a set.

In [102]:
set26 = {1,2,3,4,5,6,7,8,9,0,11,12,13,14,15}

even_set = {i for i in set26 if i%2 == 0}
print(even_set)

{0, 2, 4, 6, 8, 12, 14}

In [103]:
#27. Multiply all elements in a set by 2.

In [111]:
set27 = {1,2,4}

new27 = {i * 2 for i in set27}

print(new27)

{8, 2, 4}

In [113]:
#28. Create a set of random numbers.

In [138]:
import random

start_value = 333
end_value = 33333
set_size = 13

#to store a result created the set
random_set = set()

# while loop 
while len(random_set)< set_size:
    random_num = random.randint(start_value,end_value)
    
    random_set.add(random_num)
print(random_set)

{19552, 25185, 25094, 32775, 9735, 27750, 7210, 24138, 11728, 19090, 15735, 8377, 21788}

In [139]:
#29. Check if a set is empty.

In [147]:
e_set = {}

if not e_set:
    print("set is empty")
else:
    print("set is not empty")

set is empty

In [148]:
#30. Create a nested set (hint: use frozenset).

In [152]:
nested_set = {frozenset({1,2,3}),frozenset({22,44,55}),frozenset({88,99})}

print(nested_set)

{frozenset({1, 2, 3}), frozenset({44, 22, 55}), frozenset({88, 99})}

In [154]:
#31. Remove an element from a set using the discard method.

In [163]:
set31 = {10,11,12,14,15}

#removed 11 from set31
Discart = set31.discard(11)

#result
print(set31)

{10, 12, 14, 15}

In [164]:
#32. Compare two sets.

In [168]:
set500 = {1,2,3}
set600 = {1,2,3}

if set500 == set600:
    print('Both sets are equal')
else:
    print('Both sets are not equal')

Both sets are equal

In [169]:
#33. Create a set from a string.

In [174]:
set33 = "PWSKILLS"
SS = {i for i in set33}

print(SS)

{'S', 'P', 'L', 'W', 'K', 'I'}

In [178]:
#34. Convert a set of strings to a set of integers.

In [184]:
set_str = {'2','3','6'}

int_set = {int(i) for i in set_str}

print(int_set)

{2, 3, 6}

In [190]:
#35. Convert a set of integers to a set of strings.

In [195]:
set35 = {1,2,3,4}

int35 = {str(i) for i in set35}

print(int35)

{'2', '1', '3', '4'}

In [196]:
#36. Create a set from a tuple.

In [209]:
t36 = (1,2,3,4)

set_tup = {i for i in t36}

print(set_tup)

{1, 2, 3, 4}

In [210]:
#37. Convert a set to a tuple.

In [216]:
set37 = {1,2,3,4}

tup = tuple(set37)

print(tup)

(1, 2, 3, 4)

In [217]:
#38. Find the maximum value in a set.

In [221]:
set38 = {12,13,14,15,156}

Max_value = max(set38)

print(Max_value)

156

In [222]:
#39. Find the minimum value in a set.

In [224]:
set39 = {12,13,14,15,156}

min_val = min(set39)

print(min_val)

12

In [225]:
#40. Create a set from user input.

In [230]:
my_input = input('Please enter you mobile num')


in_set = {i for i in my_input}

print(in_set)

Please enter you mobile num 8007122455

{'7', '1', '2', '5', '4', '0', '8'}

In [1]:
#41. Check if the intersection of two sets is empty.

In [4]:
set1 = {1,2,3,4}
set2 = {4,5,6,7}

inter = set1.intersection(set2)

if not inter:
    print("intersection is empty")
else:
    print("intersection is not empty")

intersection is not empty

In [5]:
#42. Create a set of the first 5 Fibonacci numbers.

In [11]:
def generate_fibonacci(n):
    fibonacci = [0, 1]

    while len(fibonacci) < n:
        next_number = fibonacci[-1] + fibonacci[-2]
        fibonacci.append(next_number)

    return set(fibonacci[:n])  
V1 = generate_fibonacci(5)
print(V1)

{0, 1, 2, 3}

In [12]:
#43. Remove duplicates from a list using sets.

In [15]:
list43 = [1,1,2,3,4,3]

new_set = set(list43)

print(new_set)

{1, 2, 3, 4}

In [16]:
#44. Check if two sets have the same elements, regardless of their count.

In [23]:
list_202 = {1,1,2,3,4,5,6,6,7,2}
list_302 = {2,3,4,5,1,3,6,7,1,1,1,1,1,1,1,3,3,3,3,4,4,4,4}

if list_202 == list_302:
    print('Both list have the same elements')
else:
    print('There is no same elements in both list')

Both list have the same elements

In [24]:
#45. Create a set of the first `n` powers of 2.

In [34]:
N = int(input('Please enter 1st n number'))

new_set = { i * 2 for i in range(1,5)}

print(new_set)

Please enter 1st n number 5

{8, 2, 4, 6}

In [35]:
#46. Find the common elements between a set and a list.

In [3]:
my_set = [1,2,3,4]
my_list = {1,2,3,4,5,6}

CE = {i for i in my_list if i in my_list}

print(CE)

{1, 2, 3, 4, 5, 6}

In [4]:
#47. Create a set of the first `n` triangular numbers.

In [6]:
def generate_triangular_numbers(n):
    triangular_set = set()
    sum = 0
    for i in range(1, n + 1):
        sum += i
        triangular_set.add(sum)
    return triangular_set

# Generate the first n triangular numbers and create a set
n = 5  

first_n_triangular = generate_triangular_numbers(n)


print(first_n_triangular)

{1, 3, 6, 10, 15}

In [7]:
#48. Check if a set contains another set as a subset.

In [37]:
set1 = {1,2,3}
set2 = {2,3}

if set2.issubset(set1):
    print('set2 is the subset of set1')
else:
    print('set2 is not the subset of set1')

set2 is the subset of set1

In [15]:
#49. Create a set of alternating 1s and 0s of length `n`.

In [46]:
def alt(n):
    new_set = set()
    for i in range(n):
        new_set.add(i % 2)
    return new_set
n = 5

f_set = alt(n)
print(f_set)

{0, 1}

In [47]:
#50. Merge multiple sets into one.

In [58]:
set_A = {1,2,3}
set_B = {5,6,8,9}
set_C = {0,66,77,9}

Merge_set = set_A | set_B | set_C

print(Merge_set)

{0, 1, 2, 3, 66, 5, 6, 8, 9, 77}

In [60]:
#2nd way
m_set = set_A.union(set_B,set_C)

print(m_set)

{0, 1, 2, 3, 66, 5, 6, 8, 9, 77}